<h3><a href="/auditoriums/new">New Auditorium</a></h3><br>

<h1>All Auditoriums</h1>
<% @auditoriums.each do |auditorium| %>
  <h3><a href="/auditoriums/<%= auditorium.id %>"><%= auditorium.name %></a></h3>
<% end %>
