<h1>Welcome to Theater Manager</h1>

<ul>
	<li><a href="/theaters">Theater Index</a></li>
		<ul><a href="/theaters/new">New Theater</a></ul>

	<li><a href="/auditoriums">Auditorium Index</a></li>
		<ul><a href="/auditoriums/new">New Auditorium</a></ul>
</ul>