<h1>Welcome to Theater Manager</h1>

<ul>
	<li><a href="/theaters">Theater Index</a></li>
	<li><a href="/employees">Employee Index</a></li>

	<li><a href="/auditoriums">Auditorium Index</a></li>
	<li><a href="/movies">Movie Index</a></li>
</ul>
