<h1>Welcome to Theater Manager</h1>

<h3><ul style="margin: 20px;">
	<li><a href="/theaters">Theater Index</a></li><br>
	<li><a href="/employees">Employee Index</a></li><br>
	<li><a href="/auditoriums">Auditorium Index</a></li><br>
	<li><a href="/movies">Movie Index</a></li><br>
</ul></h3>
