<form action="/employees" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new Employee:</p>
  Name: <input type='text' name='employee[name]'/><br/>
  Full time?<input type='checkbox' name='employee[is_full_time]'/><br/>
  Hours Worked<input type='number' name='employee[hours_worked]'/><br/>
  <input type='submit'/>
</form>
